html {
  font-family: "Protest Revolution", sans-serif;
  font-size: 10px;
  background: url("./background.png") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Protest Revolution", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  width: 90%;
  max-width: 30rem;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 8rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  font-family: "Protest Revolution", sans-serif;
}

.key.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: "Protest Revolution", sans-serif;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

footer {
  border: none;
  font-family: "Protest Revolution", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: 0.1rem;
  color: #f60a98;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-shadow: 2px 2px 4px #fff, -2px -2px 4px #fff, 2px -2px 4px #fff,
    -2px 2px 4px #fff;
}

footer a {
  color: #f60a98;
  text-decoration: none;
}

footer a:hover {
  color: #ffc600;
  text-decoration: none;
}
